@section css{
    @*<link href="~/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    @*<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="~/Content/leonstyle.css" rel="stylesheet" />
    @*<link href="~/static/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />*@
    @*<link href="~/static/bootstrap-datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />*@
    <link href="~/static/bootstarp_table/css/bootstrap-table.css" rel="stylesheet" />
    <link href="~/static/bootstarp_table/extensions/reorder-rows/bootstrap-table-reorder-rows.css" rel="stylesheet" />
    <style type="text/css">
        /*Google滚动条样式 改为透明色   整个滚动条. */

        /*滚动条样式*/
        ::-webkit-scrollbar {
            width: 6px;
            height: auto;
            position: absolute;
        }

        ::-webkit-scrollbar-track-piece {
            /*background-color: transparent;*/
            background-color: rgba(87,186,232,.1);
            /*滚动槽 */
            -webkit-border-radius: 6px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: rgba(87,186,232,.5); /*#3c8dbc;*/
            -webkit-border-radius: 6px;
        }

        ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: rgba(87,186,232,.1);
        }


        .LStyle {
            color: white;
        }
    </style>
}

@section js{
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/leon/leonhelper.js"></script>
    @*<script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>*@
    @*<script src="~/static/bootstrap-select/js/bootstrap-select.min.js"></script>*@
    @*<script src="~/static/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>*@
    @*<script src="~/static/bootstrap-datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>*@
    <script src="~/static/jquery-tablednd/js/jquery.tablednd.1.0.3.js"></script>
    <script src="~/static/bootstarp_table/js/bootstrap-table.js"></script>
    <script src="~/static/bootstarp_table/extensions/reorder-rows/bootstrap-table-reorder-rows.js"></script>
    <script src="~/static/bootstarp_table/js/bootstrap-table-zh-CN.js"></script>
    <!-- 导出 -->
    <script src="~/static/bootstarp_table/extensions/export/tableExport.jquery.plugin/tableExport/tableExport.js"></script>
    @*<script src="~/static/bootstarp_table/extensions/export/tableExport.jquery.plugin/tableExport.js"></script>*@
    <script src="~/static/bootstarp_table/extensions/export/bootstrap-table-export.js"></script>
    @*<script src="~/static/bootstarp_table/extensions/export/tableExport.jquery.plugin/jquery.base64.js"></script>*@
    @*<script src="~/static/bootstarp_table/extensions/export/tableExport.jquery.plugin/jquery.base64.extensions.js"></script>*@
    <!-- 打印 -->
    <script src="~/static/bootstarp_table/extensions/print/bootstrap-table-print.js"></script>


    <!-- jquery 1.9之后版本不支持toggle切换事件 -->
    <script src="~/static/bootstarp_table/jquery.toggle.js"></script>
    <script>

        var $table = $('#tbMainList'), $button = $('#buttonZS');

        $(function () {

            $.scrollUp({
                scrollName: 'scrollUp',
                topDistance: '300', // Distance from top before showing element (px) 元素显示前与顶部的距离(px)
                topSpeed: 500, // Speed back to top (ms)  快速返回顶部(ms)
                animation: 'slide',// Fade, slide, none  按钮展示动画：褪色,幻灯片,没有
                animationInSpeed: 200, // Animation in speed (ms)   速度动画(ms)
                animationOutSpeed: 200, // Animation out speed (ms)  动画输出速度(ms)
                activeOverlay: true,
                scrollImg: {
                    active: true,
                    type: 'background',
                    src: 'img/top.png'
                }
            });

            $button.toggle(function () {
                //展开所有
                $("#checkEnable").removeClass("fa-plus-square").addClass('fa-minus-square');
                $button.find("i").text(" 关闭详情");
                $table.bootstrapTable('expandAllRows');
            }, function () {
                //关闭所有
                $("#checkEnable").removeClass("fa-minus-square").addClass('fa-plus-square');
                $button.find("i").text(" 展开详情");
                $table.bootstrapTable('collapseAllRows');
            });



            //页面加载时调用Bootstrap-table初始化数据
            InitMainTable();

        });

        //bootstrap-table详细信息展开
        function expandRow(index) {
            $("#tbMainList").bootstrapTable('expandRow', index);
        }

        //bootstrap-table详细信息关闭
        function collapseRow(index) {
            $("#tbMainList").bootstrapTable('collapseRow', index);
        }

        //查询刷新
        $("#BtnQuery").click(function () {
            $table.bootstrapTable('refresh');
        });

        //齐套分析
        $("#BtnBundleAnalysis").click(function () {
            var ppCode_val = '';
            var ppCode_valTips = '';
            //使用bootstrap-table中getSelections方法获取选中行ID
            var row = $.map($('#tbMainList').bootstrapTable('getSelections'), function (row) {
                return row;
            });
            for (k in row) {
                ppCode_val += row[k].pp_orderCode + ",";
                ppCode_valTips += row[k].pp_orderCode + "<br/>";
            }
            ppCode_val = ppCode_val.substr(0, ppCode_val.length - 1);
            ppCode_valTips = ppCode_valTips.substr(0, ppCode_valTips.length - 5);

            //loading层
            // shade: [0.8,'#fff'] //0.1透明度的白色背景
            // shade: [0.8, '#393D49']
            // shade: [0.8, '#000']
            //var loadingIndex = layer.load(1, { //icon支持传入0-2
            //    shade: [0.5, 'gray'], //0.5透明度的灰色背景
            //    content: '加载中...',
            //    anim: 5,
            //    area: [],
            //    success: function (layero, index) {
            //        console.log(layero, index);
            //        layero.find('.layui-layer-content').css({
            //            'padding-top': '40px',
            //            'width': '100px'
            //        });
            //    }
            //});

            if (isDeNull(ppCode_val)) {
                leonhelper.simpleConfirm("确认将以下计划进行齐套分析吗？<br/>" + ppCode_valTips + " ", function () {

                    //加载中样式...
                    var loading = layer.msg('正在齐套分析中，请稍等...', {
                        icon: 16,
                        shade: [0.7, '#393D49'],
                        shift: 0,
                        time: 0,
                        success: function (layero, index) {
                            layero.find('.layui-layer-ico').css({
                                'height': '34px',
                                'width': '34px'
                            });
                        }
                    });

                    leonhelper.callByAjax("/Plan/BundleAnalysis", {
                        ppCode: ppCode_val
                    }, function (data) {
                        if (data.Result) {
                            //leonhelper.simpleAlert(data.Message, 1, function () {
                            //    location.reload();
                            //});
                            $table.bootstrapTable('refresh');
                            //手动关闭加载层
                            layer.close(loading);
                        } else {

                        }
                    });
                }, function () {
                    $table.bootstrapTable('refresh');
                });

            } else {
                layer.alert('请至少选择一项计划再进行齐套化分析！', { icon: 0 });
            }


        });



        //回车绑定
        document.onkeydown = function () {
            if ((window.event.keyCode || window.event.which) == 13) {
                $table.bootstrapTable('refresh');
            }
        }


        ////计划下发
        //function btnIssued(pp_orderCode) {
        //    leonhelper.simpleConfirm("计划下发后将向库房发送备料申请；</br>之后将不能修改计划明细信息，确认下发吗？", function () {
        //        leonhelper.loading();
        //        leonhelper.callByAjax("/Plan/IssuedPartPlan", {
        //            pp_orderCode: pp_orderCode
        //        }, function (data) {
        //            if (data.Result) {
        //                leonhelper.simpleAlert(data.Message, 1, function () {
        //                    location.reload();
        //                });
        //            } else {
        //                leonhelper.simpleAlert(data.Message, 2);
        //            }
        //        });
        //    }, function () { });
        //}




        //var $table;
        //初始化bootstrap-table的内容
        function InitMainTable() {

            //先进行destroy，再重新渲染
            //$('#tbMainList').bootstrapTable('destroy');

            //前拖 当前行数据
            var dragbeforeidx = 0;
            //前拖 当前行状态数据
            var dragbeforeidxStatus = 0;
            //后拖 拖动后当前行上一行数据
            var draglateridx = 0;

            //ajax成功后，再进行渲染table ，记录页面bootstrap-table全局变量$table，方便应用
            var queryUrl = '/Plan/PartPlanSchedulings';

            $('#tbMainList').bootstrapTable({
                url: queryUrl,                      //请求后台的URL（*）
              
                theadClasses: "thead-blue",//这里设置表头样式
                //contentType: 'application/json;charset=UTF-8',
                //paginationFirstText: "首页",
                //paginationPreText: "上一页",
                //paginationNextText: "下一页",
                //paginationLastText: "末页",
                method: 'GET',                      //请求方式（*）
                //showButtonText: true,             //所有按钮都将在其上显示文本
                //buttonsToolbar: '.buttons-toolbar',
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色,是否显示斑马线效果
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 100,                      //每页的记录行数（*）
                pageList: [100],                    //可供选择的每页的行数（*）
                search: false,                      //是否显示表格搜索,此搜索是客户端搜索,不进服务端
                strictSearch: true,                 //
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                paginationLoop: false,              //设置为 true 启用分页条无限循环的功能。
                //导出功能设置（关键代码）
                showExport: true,                   //是否显示导出按钮
                showPrint: true,                    //是否显示打印按钮
                //printPageBuilder: function (table) { return table },
                exportDataType: 'all',              //'basic':当前页的数据, 'all':全部的数据, 'selected':选中的数据
                buttonsAlign: "left",               //按钮位置
                exportTypes: ['excel'],             //导出文件类型，[ 'csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf']
                //Icons: 'glyphicon-export',
                exportOptions: {
                    // 导出数据去除第一列出现"on"
                    //ignoreColumn: [0],
                    ignoreColumn: [0, 1, 14],  //忽略某一列的索引
                    fileName: '计划齐套分析结果_' + new Date().format("yyyyMMdd"),  //文件名称设置
                    worksheetName: 'sheet1',  //表格工作区名称
                    tableName: '计划排程报表',
                    excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
                    onMsoNumberFormat: doOnMsoNumberFormat,         //是处理数字的方法
                    onCellHtmlData: DoOnCellHtmlData                //这个属性方法可以重新修改每一个单元格的值
                },
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,               //是否启用点击选中行
                //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "pp_orderCode",           //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示卡片式视图
                detailView: true,                  //是否显示父子表
                locale: 'zh-CN',                    //中文支持
                singleSelect: false,                //设置True 将禁止多选
                reorderableRows: true,              //设置拖动排序
                useRowAttrFunc: true,               //设置拖动排序
                detailView: true,                   //是否显示详细视图
                detailFormatter: function (index, row) {
                    var html = []
                    //$.each(row, function (key, value) {
                    //    html.push('<p><b>' + key + ':</b> ' + value + '</p>')
                    //})
                    //return html.join('')
                    //面板说明：panel-primary深蓝色 panel-success淡绿色 panel-info淡蓝色 panel-warning淡黄色 panel-danger淡红色  container-fluid
                    html += '<div class="card card-outline" style="margin:-8px -8px -6px -8px;padding:0px;">';
                    html += '<div class="card-header" style="font-weight:bold;font-size:15px;color: #31708f;background-color:#d9edf7;border-color: #bce8f1;">详细信息</div>';
                    html += '<div class="card-body">';

                    html += '<div class="row" style="padding-bottom:10px;">';

                    html += '<div class="col form-inline">';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">优先级:</b> ' + sortFormatter(row["pp_sort"], row, 0) + '</div>';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">单据编号:</b> ' + row["pp_orderCode"] + '</div>';
                    html += '</div>';

                    html += '<div class="col form-inline">';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">第三方单据编号:</b> ' + (row["pp_orderCodeRel"] == null ? "-" : row["pp_orderCodeRel"]) + '</div>';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">产品型号:</b> ' + row["Pmodel"] + '</div>';
                    html += '</div>';

                    html += '</div>';

                    html += '<div class="row" style="padding-bottom:10px;">';
                    html += '<div class="col-lg-6 form-inline">';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">物料编码:</b> ' + row["pp_material"] + '</div>';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">项目号编码:</b> ' + row["pp_project"] + '</div>';
                    html += '</div>';
                    html += '<div class="col-lg-6 form-inline">';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">跟踪号编码:</b> ' + row["pp_trackNumber"] + '</div>';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">状态:</b> ' + StatusFormatter(row["pp_status"], row, 0) + '</div>';
                    html += '</div>';
                    html += '</div>';

                    html += '<div class="row">';
                    html += '<div class="col-lg-6 form-inline">';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">计划数量:</b> ' + row["pp_planQty"] + '</div>';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">计划开始时间:</b> ' + row["pp_startDateText"] + '</div>';
                    html += '</div>';
                    html += '<div class="col-lg-6 form-inline">';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">计划结束时间:</b> ' + row["pp_finishDateText"] + '</div>';
                    html += '<div class="col-sm-6 form-inline"><b class="col-sm-5 text-right">齐套率(%):</b> ' + (isDeNull(row["pp_materialPercent"]) ? row["pp_materialPercent"] + "%" : "-") + '</div>';
                    html += '</div>';

                    html += '</div></div></div>';
                    return html;

                },
                //得到查询的参数
                queryParams: function (params) {

                    //处理导出时，查询页码不为0问题，从1开始导致导出数据第一行丢失
                    var options = $('#tbMainList').bootstrapTable('getOptions');
                    //console.log(options.pagination)
                    if (!options.pagination && options.pagination != undefined) {
                        params.limit = options.totalRows;
                        params.offset = 0;
                        //console.log(options.totalRows)
                    }

                    //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                    var temp = {
                        pageSize: params.limit,                                 //每页显示[10,20,30,40]数量
                        PageIndex: params.offset,                               //页码数量 第一页0、第二页10，第三页20以此类推
                        sort: 'pp_sort',                                        //排序列名
                        sortOrder: params.order,                                //排位命令（desc，asc）
                        LIKEorderCode: $('#LIKEorderCode').val(),
                        LIKEproject: $('#LIKEproject').val(),
                        LIKEtrackNumber: $('#LIKEtrackNumber').val()
                    };
                    return temp;
                },
                columns: [{
                    checkbox: true,
                    visible: true,                      //是否显示复选框
                    printIgnore: true,                  //设置为true可以在打印页面中隐藏此列。
                    //判断计划已开始生产禁用选中功能
                    formatter: function (value, row, index) {
                        if (row.pp_status === 2) {      //如果计划已开始生产，禁止选择操作
                            return { disabled: true, }
                        } else {
                            return { disabled: false, }
                        }
                    }
                }, {
                    field: 'pp_sort',
                    title: '优先级',
                    width: 50,
                    align: 'center',
                    formatter: sortFormatter,
                }, {
                    field: 'pp_orderCode',
                    align: 'center',
                    title: '单据编号'
                }
                //,{
                //    field: 'pp_orderCodeRel',
                //    title: '第三方单据编号'
                //}
                //, {
                //    field: 'Pmodel',
                //    title: '产品型号'
                //}, {
                //    field: 'pp_material',
                //    title: '物料编码',
                //}
                , {
                    field: 'pp_project',
                    title: '项目号编码'
                }, {
                    field: 'pp_trackNumber',
                    title: '跟踪号编码'
                }
                , {
                    field: 'pp_planQty',
                    title: '计划数量'
                }, {
                    field: 'pp_status',
                    align: 'center',
                    width: 80,
                    title: '状态',
                    formatter: StatusFormatter,
                    printFormatter: StatusFormatter         //函数（值，行，索引）-返回字符串。格式化打印表中此列的单元格值。函数行为类似于“ formatter”列选项
                }, {
                    field: 'pp_startDateText',
                    title: '计划开始时间',
                    align: 'center',
                    width: 115
                    //,sortable: true
                }, {
                    field: 'pp_finishDateText',
                    title: '计划结束时间',
                    align: 'center',
                    width: 115
                }
                //, {
                //    field: 'pp_adminOrgUnitID',
                //    title: '主制部门'
                //}
                , {
                    field: 'pp_materialPercent',
                    title: '齐套率(%)',//齐套总百分比
                    align: 'center',
                    width: 100,
                    formatter: function (value, row, index) {
                        if (isDeNull(value)) {
                            return value + "%";
                        }
                        return "-";
                    },
                    printFormatter: function (value, row, index) {
                        if (isDeNull(value)) {
                            return value + "%";
                        }
                        return "-";
                    }
                }, {
                    field: 'pp_checkResultText',
                    title: '齐套结果',
                    formatter: ResultFormatter,
                    align: 'center',
                    width: 80
                }, {
                    field: 'pp_BundleAnalysisTimeText',
                    title: '齐套时间',
                    align: 'center',
                    width: 110
                }, {
                    field: 'pp_BundleAnalysisTypeText',
                    title: '齐套类型',
                    align: 'center',
                    width: 80
                }, {
                    field: 'ID',
                    title: '操作',
                    // width: 179,
                    align: 'center',
                    valign: 'middle',
                    formatter: actionFormatter,
                    printIgnore: true               //设置为true可以在打印页面中隐藏此列。

                }],
                onLoadSuccess: function (data) {
                    //console.log(data);
                    //if (data) {
                    //    $.each(data, function (index, item) {
                    //        expand(item);
                    //    });
                    //}
                },
                onLoadError: function () {
                    // showTips("数据加载失败！");
                },
                onPostBody: function () {
                },
                //,0formatNoMatches: function () {
                //    return '无匹配数据';
                //},
                //onDblClickRow: function (row, $element) {
                //    var id = row.ID;
                //    //EditViewById(id, 'view');
                //}
                //,//当选中行，拖拽时的哪行数据，并且可以获取这行数据
                onReorderRowsDrag: function (row) {
                    //取索引号
                    dragbeforeidx = row["pp_orderCode"];
                    //获取当前拖拽的状态
                    dragbeforeidxStatus = row["pp_status"];
                },
                //拖拽完成后这条数据，并且可以获取这行数据的上一行数据
                onReorderRowsDrop: function (row) {
                    //取索引号
                    draglateridx = row["pp_orderCode"];
                },
                onClickRow: function (row, $element) {
                },
                //当拖拽结束后，整个表格的数据
                onReorderRow: function (newData) {
                    //这里的newData是整个表格数据，数组形式
                    //if (dragbeforeidx != draglateridx) { }//这是我其他地方需要的，你们可不必要这个
                    //console.log(newData); //调试用代码
                    //全部收缩详情行 toggleDetailView
                    $table.bootstrapTable('collapseAllRows');

                    //判断当前计划状态禁用拖拽排程功能，并给出提醒
                    if (dragbeforeidxStatus === 2) {
                        layer.msg('当前【' + dragbeforeidx + '】计划：<br/>已经开始生产无法进行排程！', { shade: [0.8, '#393D49'], icon: 0, time: 3500, shift: 6 }, function () {

                        });
                        $('#tbMainList').bootstrapTable('refresh');
                        //, { icon: 0 }
                        return;
                    }
                    leonhelper.simpleConfirm("是否将计划单号：【" + dragbeforeidx + "】<br/>进行手动排程 ？",
                    function () {
                        $.post("Sort", { jsondata: JSON.stringify(newData), pp_orderCode: dragbeforeidx },//将整张表数据Post，当然，先序列化成Json
                                           function (data) {
                                               if (data.result == true) {
                                                   $('#tbMainList').bootstrapTable('refresh');
                                                   layer.closeAll();
                                               }
                                           });
                    }, function () {
                        $('#tbMainList').bootstrapTable('refresh');
                    });
                }
            });
        };


        //function DoOnMsoNumberFormat(cell, row, col) {
        //    var result = "";
        //    if (row > 0 && col == 0)
        //        result = "\\@@";
        //    return result;
        //}

        //数字 大概是处理数字的方法
        function doOnMsoNumberFormat(cell, row, col) {
            var result = "";
            if (row > 0 && col == 0) {
                result = "\\@@";
            }
            return result;
        }


        //处理导出内容,这个方法可以自定义某一行、某一列、甚至某个单元格的内容,也就是将其值设置为自己想要的内容
        function DoOnCellHtmlData(cell, row, col, data) {
            if (row == 0) {
                return data;
            }

            //由于备注列超过6个字的话,通过span标签处理只显示前面6个字,如果直接导出的话会导致内容不完整,因此要将携带完整内容的span标签中title属性的值替换
            //if (col == 4 || col == 11 || col == 7) {
            //    var spanObj = $(data);//将带 <span title="val"></span> 标签的字符串转换为jQuery对象
            //    var title = spanObj.attr("title");//读取<span title="val"></span>中title属性的值
            //    //var span = cell[0].firstElementChild;//读取cell数组中的第一个值下的第一个元素
            //    if (typeof (title) != 'undefined') {
            //        return title;
            //    }
            //}

            return data;
        }


        //$('#tbMainList').bootstrapTable('refreshOptions', { pageNumber: 1, pageSize: 10 });//便可以了

        //三个参数:
        //value：代表该列的值，当前行下面创建的新行里面的td对象
        //row：父表当前行的Json数据对象
        //index：父表当前行的行索引
        function StatusFormatter(value, row, index) {
            var html = "";
            if (value == 0) {
                // bg-primary
                html = "<span class='badge LStyle' style='background-color:#337ab7;font-size:13px;'>" + row["pp_statusText"] + "</span>";
            } else if (value == 1) {
                // bg-orange-active
                html = "<span class='badge LStyle' style='background-color:#ff7701;font-size:13px;'>" + row["pp_statusText"] + "</span>";
            } else if (value == 2) {
                html = "<span class='badge bg-yellow LStyle' style='font-size:13px;'>" + row["pp_statusText"] + "</span>";
            } else if (value == 3) {
                html = "<span class='badge bg-green LStyle' style='font-size:13px;'>" + row["pp_statusText"] + "</span>";
            } else if (value == 4) {
                // label-sm bg-red
                html = "<span class='badge LStyle' style='background-color:#dd4b39;font-size:13px;'>" + row["pp_statusText"] + "</span>";
            }
            return html;
        }

        //<a href='/delete_one?bookName=" + row[""] + "'>计划下达</a>

        //0: 未开始  1:已下发 2: 已开始 3：已完成 4：已驳回
        function actionFormatter(value, row, index) {
            var hidValue = $('#hidEdit').val();
            var htm = "";

            //判断状态为 未开始or已驳回and并且已齐套分析过的计划显示 计划下达操作按钮
            if ((row["pp_status"].toString() == '0' || row["pp_status"].toString() == '4') && isDeNull(row["pp_materialPercent"])) {
                htm += "<a class='btn btn-success btn-sm' href='#' onclick=\"btnIssued(\'" + row["pp_orderCode"] + "\','1',\'" + row["pp_materialPercent"] + "\')\" ><i class='fa fa-toggle-on'></i>计划下达</a> ";
            }
            //判断权限是否展示反下达
            if (hidValue == 1) {
                if (row["pp_status"].toString() == '1') {
                    htm += "<a class='btn btn-danger btn-sm' href='#' onclick=\"btnIssued(\'" + row["pp_orderCode"] + "\','4',\'" + row["pp_materialPercent"] + "\')\"><i class='fa fa-toggle-off'></i>反下达</a> ";
                }

            }
            if (isDeNull(row["pp_materialPercent"])) {
                htm += "<a class='btn btn-info btn-sm' data-toggle='modal' data-target='#divModal' href='#' onclick=\"ViewDetails(\'" + row["pp_orderCode"] + "\')\" ><i class='far fa-window-maximize'> 查看详情</i></a> ";
                //<a class='btn btn-danger btn-sm' href='#' onclick=\"btnIssued(\'" + row["pp_orderCode"] + "\','4')\"><i class='fa fa-toggle-off'></i>查看详情</a>
            }
            return htm;
        }

        //排序号
        function sortFormatter(value, row, index) {
            var html = "";
            if (isDeNull(value)) {
                if (row.pp_status === 2) {
                    return;
                }
                if (value == 1) {
                    //深红
                    html = "<span class='badge LStyle' style='background-color:#a81849;font-size:15px;' >" + row["pp_sort"] + "</span>";
                } else if (value == 2) {
                    //红
                    html = "<span class='badge LStyle' style='background-color:#fe2611;font-size:14px;' >" + row["pp_sort"] + "</span>";
                } else if (value == 3) {
                    //深橙
                    html = "<span class='badge LStyle' style='background-color:#ff7942;font-size:13px;' >" + row["pp_sort"] + "</span>";
                } else if (value == 4) {
                    //橙
                    html = "<span class='badge LStyle' style='background-color:#fc9802;font-size:12px;' >" + row["pp_sort"] + "</span>";
                } else if (value == 5) {
                    //深黄
                    html = "<span class='badge LStyle' style='background-color:#fbbb04;' >" + row["pp_sort"] + "</span>";
                } else if (value == 6) {
                    //黄
                    html = "<span class='badge LStyle' style='background-color:#eaea78;' >" + row["pp_sort"] + "</span>";
                } else if (value == 7) {
                    //淡绿
                    html = "<span class='badge LStyle' style='background-color:#cfe82a;' >" + row["pp_sort"] + "</span>";
                } else if (value == 8) {
                    //绿色
                    html = "<span class='badge LStyle' style='background-color:#68af35;' >" + row["pp_sort"] + "</span>";
                } else if (value == 9) {
                    //蓝色
                    html = "<span class='badge LStyle' style='background-color:#00b1ff;' >" + row["pp_sort"] + "</span>";
                } else {
                    //蓝色
                    html = "<span class='badge LStyle' style='background-color:#0246ffb5;' >" + row["pp_sort"] + "</span>";
                }
            } else {
                html = "<span class='badge LStyle' style='background-color:#949494;font-size:13px;' >未排程</span>";
            }
            return html;
        }

        //齐套分析结果
        function ResultFormatter(value, row, index) {
            var html = "";
            if (row["pp_checkResult"] == "1") {
                //绿 合格
                html = "<span class='badge LStyle' style='background-color:#68af35;font-size:13px;' >" + value + "</span>";
            } else if (row["pp_checkResult"] == "0") {
                //红 不合格fe2611
                html = "<span class='badge LStyle' style='background-color:#dd4b39;font-size:13px;' >" + value + "</span>";
            } else {
                //黄 空
                html = "<span class='badge LStyle' style='background-color:#00b1ff;font-size:13px;' >" + value + "</span>";
            }
            return html;
        }

        //计划下达
        function btnIssued(pp_orderCode, txtstatus, pp_materialPercent) {
            var msg = "";

            if (isDeNull(pp_materialPercent)) {
                if (txtstatus == "1") {
                    msg = "计划下达后将不可修改计划明细信息；<br>确认下达吗？";
                } else {
                    msg = "计划反下达后将撤回当前计划；<br>可修改计划明细消息，确认反下达吗？";
                }

                leonhelper.simpleConfirm(msg, function () {
                    //leonhelper.loading();
                    leonhelper.callByAjax("/Plan/UpdatePartPlanByStatus", {
                        pp_orderCode: pp_orderCode,
                        status: txtstatus
                    }, function (data) {
                        if (data.Result) {
                            leonhelper.simpleAlert(data.Message, 1, function () {
                                $('#tbMainList').bootstrapTable('refresh');
                            });
                        } else {
                            //leonhelper.simpleAlert(data.Message, 2);
                            layer.alert(data.Message, { icon: 2 });
                        }
                    });

                }, function () { });
            } else {
                layer.alert('当前【' + pp_orderCode + '】计划还未进行齐套分析无法操作计划下达！', { icon: 0 });
            }
        }


        //判断是否是空 等于空false
        function isDeNull(value) {
            if (value == null || value == "" || value == "undefined" || value == undefined || value == "null" || value == "(null)" || value == 'NULL' || typeof (value) == 'undefined') {
                return false;
            } else {
                value = value + "";
                value = value.replace(/\s/g, "");
                if (value == "") {
                    return false;
                }
                return true;
            }
        }


        //查看详细明细
        function ViewDetails(pp_orderCode) {
            var title = "计划单号：【<b style='color:#fff;'>" + pp_orderCode + "</b>】工序详情";

            var index = layer.open({
                id: 'TechnicsView'
                , type: 2
                , title: title
                , area: ['1919px', '850px']
                , skin: 'layui-layer-lan'//layui-layer-lan layui-layer-molv demo-class
                , offset: 'auto'
                , closeBtn: 1
                , shade: [0.8, '#393D49']
                , shadeClose: false
                , resize: false
                , fixed: true //鼠标滚动时，层是否固定在可视区域
                , maxmin: false
                , content: '../Plan/TechnicsSelectList?LIKEpporderCode=' + pp_orderCode
                //, btn: ['关闭']
                , success: function (layero, index) {
                    //获取well box中文本框信息
                    var body = layer.getChildFrame('.well', index);
                    //将计划单号赋值给文本框进行搜索
                    //body.find('#LIKEorderCode').val(pp_orderCode);
                }
                //, zIndex: layer.zIndex //重点1
                //, success: function (layero) {
                //    layer.setTop(layero); //重点2
                //}
            });
            //弹出即全屏
            layer.full(index);
        }



    </script>
}






<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div>
                <div class="form-group">
                    @*@if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.CheckAll, ViewBag.AuthVal))
                        {
                        <button type="button" class="btn btn-primary checkbox-toggle">
                        <i class="fa fa-square-o"> 全选</i>
                        </button>
                        }*@

                    @*判断该用户是否有审核权限（计划排程反下达）*@
                    @if (RW.PMS.Common.Auth.SystemAuth.IsHasAuth(RW.PMS.Common.Auth.AuthType.Audit, ViewBag.AuthVal))
                    {
                        <input type="hidden" name="hidEdit" id="hidEdit" value="1" />
                    }
                </div>


                <div class="shadow-none p-3 mb-1 bg-gray-light rounded">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-auto">
                                <label class="form-label">单据号:</label>
                                <input id="LIKEorderCode" name="LIKEorderCode" class="form-control" autocomplete="off" value="" placeholder="输入单据编号查找" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-auto">
                                <label class="form-label">项目号编码:</label>
                                <input id="LIKEproject" name="LIKEproject" class="form-control" autocomplete="off" value="" placeholder="输入项目号编码查找" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-auto">
                                <label class="form-label">跟踪号编码:</label>
                                <input id="LIKEtrackNumber" name="LIKEtrackNumber" class="form-control" autocomplete="off" value="" placeholder="输入跟踪号编码查找" />
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button id="BtnQuery" class="btn btn-primary"><i class="fas fa-search"> 查询</i></button>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-auto text-right">
                                <button id="buttonZS" class="btn btn-secondary"><i id="checkEnable" class="fa fa-plus-square"> 展开详情</i></button>
                                @*<button type="button" class="btn btn-primary" id="btnReset"><i class="fa fa-repeat"></i> 重置</button>*@
                                <button id="BtnBundleAnalysis" class="btn btn-warning"><i class="far fa-object-ungroup"> 齐套分析</i></button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10">
                            <span class='badge LStyle' style='background-color:#337ab7;font-size:13px;'>未开始</span>
                            <span class='badge LStyle' style='background-color:#ff7701;font-size:13px;'>已下发</span>
                            <span class='badge bg-yellow LStyle' style='font-size:13px;'>已开始</span>
                            <span class='badge bg-green LStyle' style='font-size:13px;'>已完成</span>
                            <span class='badge LStyle' style='background-color:#dd4b39;font-size:13px;'>已驳回</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--表-->
        <div class="card-body" style="padding-top:0px;">
            <div class="table">
                <table id="tbMainList" class="table table-bordered table-hover" @*data-use-row-attr-func="true" data-reorderable-rows="true"*@></table>
            </div>
        </div>
    </div>
</div>




<a id="scrollUp" href="#top" style="position: fixed; z-index: 1; display: none;"></a>

<style>
    /*定义类名为.thead-blue的样式*/
    .table .thead-blue th {
        color: #f3f0f0;
        background-color: #1a749a;
        text-align: center;
    }
</style>





