<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="RW.PMS.Common.AutofacConfig,RW.PMS.Common" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <autofac>
    <add key="RW.PMS.IBLL" value="RW.PMS.BLL.dll" />
    <add key="RW.PMS.IDAL" value="RW.PMS.DAL.dll" />
  </autofac>
  <appSettings>
    <!--Pwd哈希-->
    <add key="PwdHash" value="csrw@com" />
    <!--<add key="AutoInitOPC" value="1" />
    <add key="PortName2516B" value="COM2" />
    <add key="PortName9110A" value="COM4" />
    <add key="PortName9310" value="COM3" />-->
    <!--服务器IP地址-->
    <add key="ServerIPAddress" value="192.168.0.30"/>
    <!--<add key="ServerIPAddress" value="localhost" />-->
    
    <!--本地IP设置用于调试-->
    <add key="LocalIPAddress" value="192.168.0.50"/>

    <!--设置更新地址-->
    <!--<add key="SysUpdate" value="http://192.168.0.30:8080/API/SysUpdate/Update?fileName={0}"/>-->
    
    <add key="ServerPort" value=":80" />
    <add key="UnconventionalGetIPLogic" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--192.168.0.117 本地株洲受电弓数据库Mysql-->
    <!--<add name="RWPMS_MySQLServer" connectionString="GlrobSEbBB0ctO6rGMOA7PBcfSav9Z8BWiM6yJ7iloKfyJFRF+Oq0NoM77AaVjtvn6dSIvIlAkphA/WdUM22E/vUmfYK99+twLVQcEjzhKpvxkcpwNt+2WXya4r1G1aCrZ7AhljzwPPsy+poQ2JMS6MpGenzekI3zn7dIeutxOp6BB5Rg92OwPt+11LOzLpaNqAlBvUmjnVdNxsh3enjiw==" providerName="MySql.Data.MySqlClient" />-->
    
    <!--192.168.0.53 株洲受电弓数据库Mysql-->
    <!--<add name="RWPMS_MySQLServer" connectionString="L+DOnfW4ZCmdqxJ1i7qk065bHDyYtLGx0/ZBDviPrvaHU1h+QAI3TJkZqpBLEMhuAXQfwl8rgyA4dNgMu6NIvu8v5NQ1XZ4loPIl3JHpPHU5VlwMOvC/J6+3A/prquOA1ibqQl3l/NS/5ynbfYKLCfmd5SSwNsEpyF2ORqK9xU3ruqtbwQRG4PmoaM+vKQBzM1b0cpMTV9Jukns0Z5STlg==" providerName="MySql.Data.MySqlClient" />-->

    <!-- 192.168.0.30 株机现场厂房-受电弓数据库Mysql -->
    <add name="RWPMS_MySQLServer" connectionString="L+DOnfW4ZCmdqxJ1i7qk0811mtvD72gKOty46Y/9Fj/9OidT5p/oU0P+aoZeKTpEa6WwA255EbX0l5Fg5Qg4xrjw9F8MnZu9XEOaYXYDezyGFWeeii5FgSVlon4JZujWx7cObQZ8PznyewV2hViprrGJwfXXOmwyJA/5hFlExcsIkth0O+f8w9qBA2z9BqRc7XvyVI564tYh+O7MRC6Klw==" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6">
      </provider>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>