<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--本地数据库Mysql-->
		<add name="RWPMS_MySQLServer" connectionString="JtN7Mzz6K1SzuYG9fYJnN87x0FdFH1XsKL7yD9mLsPd4JVLGXI6wasLQoeNtZg8QpPsrNEVtqxxaOEU97nJfP7b92jAzdeObGkPgAvce6jKJ5Yd0Ora4JJeq1Pte0iRnCkyOACn3J+MxbVwh/arciDz+yNHyX29w2mIxKAfj777inOvkCQyyoY7lqnHQ/eJb" providerName="MySql.Data.MySqlClient" />
		<!-- 53 数据库Mysql-->
		<!--<add name="RWPMS_MySQLServer" connectionString="PPdC2H+Mr6zt5v0UCG1b+/bDebt2EAtpPJjDUHumTDkYkwVVjmPWPHpa3y18bhkfG6GYzxMZgOKtX6O1Q5uIy/lwo1igTOoY03dI+x5EDpLv+gTinarIyTlHmggicmQD" providerName="MySql.Data.MySqlClient" />-->

		<add name="SerilogRWPMS_MySQLServer" connectionString="server=192.168.0.53;uid=root;pwd=RWrw@!$%*123456;database=rw.pms.sbgl" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="MonitorLocalIP" value="http://localhost:8045/" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.21.9.0" newVersion="3.21.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.5.0" newVersion="1.3.5.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>