@section css{
    <link href="~/Content/leonstyle.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/static/bootstarp_table/css/bootstrap-table.css" rel="stylesheet" />
    <link href="~/static/bootstarp_table/extensions/page-jump-to/bootstrap-table-page-jump-to.css" rel="stylesheet" />
    <link href="~/Scripts/layui-v2.5.6/css/layui.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}

<div class="container-fluid">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="form-group">

                <button type="button" onclick="window.location.href='/Data/ProductTestManage'" class="btn btn-success">
                    <i class="fa fa-undo"> 后退</i>
                </button>

                @*<a class="btn btn-success float-right" role="button" href="/Data/ProductTestManage"><i class="fa fa-undo"> 后退</i></a>*@
            </div>
            <div class="shadow-none p-3 mb-1 bg-light rounded">
                <div class="row form-inline">
                    <input type="hidden" id="trmGUID" value="@ViewBag.trmGUID" />
                    &nbsp; &nbsp;
                    <div class="form-group">
                        <label for="name">产品型号：</label>
                        <input id="txtPmodelDrawingNo" type="text" class="form-control" style="width:250px;" readonly placeholder="输入生产编号查找">
                    </div>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="form-group">
                        <label for="name">项目名称：</label>
                        <input type="text" class="form-control" id="txtpp_projectName" readonly placeholder="">
                    </div>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="form-group">
                        <label for="name">产品系列号:</label>
                        <input type="text" class="form-control" id="txttrmProdNo" readonly placeholder="">
                    </div>
                </div>
            </div>
        </div>


        <div class="card-body">
            <div class="table">
                <table id="tbMainList" class="table table-bordered table-hover"></table>

            </div>
        </div>
    </div><!-- box-body -->
</div><!-- box -->



@section js{
    <script src="~/Scripts/leon/leonhelper.js"></script>
    <script src="~/Scripts/layui-v2.5.6/layui.js"></script>
    <script src="~/static/bootstarp_table/js/bootstrap-table.js"></script>
    <script src="~/static/bootstarp_table/js/bootstrap-table-zh-CN.js"></script>
    <script src="~/static/bootstarp_table/extensions/page-jump-to/bootstrap-table-page-jump-to.js"></script>
    <script>



        $(function () {
            InitMainTable();
        });


        //初始化数据 bootstrap-table 分页
        function InitMainTable() {

            leonhelper.bootStrapTableAjax1($("#tbMainList"), "/Data/GetTestResultDetail", function (params) {
                var temp = {
                    pageSize: params.limit,                             //每页显示[10,20,30,40]数量
                    PageIndex: params.offset,                           //(params.offset / params.limit) + 1, //页码数量
                    //sort: 'ID',                                         //排序列名
                    //sortOrder: params.order,                            //排位命令（desc，asc）
                    //LIKETrmProdNo: $("#txtProdNo").val(),
                    //DateTimeStr: $('#txtTime').val()
                    trmGUID: $('#trmGUID').val()
                };
                return temp;
            }, "trdID"
            ,
            [
                { checkbox: false, visible: false },
                { field: 'trdText', title: '文本值' },
                {
                    field: 'trdFlag', title: '试验结果', align: 'center', width: 60, formatter: function (value, row, index) {
                        var html;
                        if (value == 1) {
                            html = "<span class='badge text-white' style='background-color:#68af35;font-size:13px;'>" + row.trdFlagText + "</span>";
                        } else {
                            html = "<span class='badge text-white' style='background-color:#dd4b39;font-size:13px;'> " + row.trdFlagText + " </span>";
                        }
                        return html;
                    }
                },
                { field: 'trdRemark', title: '备注' },
            ], function (data) {
                $("#txtPmodelDrawingNo").val(data.rows[0].PmodelDrawingNo);
                $("#txtpp_projectName").val(data.rows[0].pp_projectName);
                $("#txttrmProdNo").val(data.rows[0].trmProdNo);
            });

            //隐藏正在加载
            $("#tbMainList").bootstrapTable('hideLoading');

        }



        //查询刷新
        $("#BtnQuery").click(function () {
            $('#tbMainList').bootstrapTable('refresh');
            //$('#tbMainList').bootstrapTable('refreshOptions', { pageNumber: 1, pageSize: 10 });//便可以了
            //var curAgentTablePageNumber = $("#agentTable").bootstrapTable("getOptions").pageNumber;获取当前页面
        });


        //判断是否是空 等于空false
        function isDeNull(value) {
            if (value == null || value == "" || value == "undefined" || value == undefined || value == "null" || value == "(null)" || value == 'NULL' || typeof (value) == 'undefined') {
                return false;
            } else {
                value = value + "";
                value = value.replace(/\s/g, "");
                if (value == "") {
                    return false;
                }
                return true;
            }
        }


    </script>
}

<style>
    /*定义类名为.thead-blue的样式*/
    .table .thead-blue th {
        color: #f3f0f0;
        background-color: #1a749a;
        text-align: center;
    }
</style>